<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shareholdergame.engine.account.dao.mapper.AccountOperationMapper">

    <!--
    operation_type char(16) not null check (operation_type in ('CHANGE_STATUS', 'CHANGE_USERNAME', 'CHANGE_EMAIL', 'CHANGE_PASSWORD')),
  old_value char(255),
  new_value char(255),
  verification_code char(64),
  initiation_date datetime not null,
  completion_date datetime,
  operation_status char(16) not null check (operation_status in ('VERIFICATION_PENDING', 'COMPLETED', 'CANCELLED')),
  expiration_date datetime,
    -->
    <insert id="insertOperation" parameterType="AccountOperation">
        insert into a_account_operation
        (operation_id, gamer_id)
        values
        (#{operationId}, #{gamerId})
    </insert>
</mapper>
