<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shareholdergame.engine.account.dao.mapper.AccountOperationMapper">

    <insert id="insertOperation" parameterType="AccountOperation">
        insert into a_account_operation
        (operation_id, gamer_id)
        values
        (#{operationId}, #{gamerId})
    </insert>
</mapper>
