<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shareholdergame.engine.account.dao.mapper.AccountOperationMapper">

    <insert id="insertOperation" parameterType="AccountOperation">
        insert into a_account_operation (
          gamer_id,
          operation_type,
          old_value,
          new_value,
          verification_code,
          initiation_date,
          completion_date,
          operation_status,
          expiration_date
        )
        values (
          #{gamerId},
          #{operationType};
          #{oldValue};
          #{newValue};
          #{verificationCode};
          #{initiationDate};
          #{completionDate};
          #{operationStatus};
          #{expirationDate};
        )
    </insert>
</mapper>
