<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shareholdergame.engine.account.dao.mapper.AccountMapper">

    <resultMap id="AccountResultMap" type="Account">
        <id column="gamer_id" property="id"/>
        <result column="user_name" property="userName"/>
    </resultMap>

    <resultMap id="AccountWithPasswordResultMap" type="AccountWithPassword">
        <result column="user_password" property="password"/>
        <association property="gamerAccount" resultMap="AccountResultMap"/>
    </resultMap>

    <select id="findByUserNameOrEmail" parameterType="string" resultMap="AccountWithPasswordResultMap" resultType="AccountWithPassword">
        select
            gamer_id,
            user_name,
            user_password
        from a_gamer_account
        where lower(user_name) like lower(#{value}) or lower(email) like lower(#{value})
                                                       and account_status != 'REMOVED_COMPLETELY'
    </select>

    <select id="checkUserExistence" parameterType="string" resultType="long">
        select gamer_id
        from a_gamer_account
        where lower(user_name) like lower(#{value}) or lower(email) like lower(#{value})
                                                       and account_status != 'REMOVED_COMPLETELY'
    </select>

    <insert id="insertAccount" parameterType="AccountWithPassword">
        insert into a_gamer_account
        (gamer_id, email, user_name, user_password, account_status, registration_date, locale)
        values (#{gamerAccount.id}, #{gamerAccount.email}, #{gamerAccount.userName}, #{password}, #{gamerAccount.status}, #{gamerAccount.creationDate}, #{gamerAccount.language})
    </insert>
</mapper>
