<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shareholdergame.engine.account.dao.mapper.ProfileMapper">

    <resultMap id="profileResultMap" type="Profile">
        <id property="gamerId" column="gamer_id"/>
        <result property="sex" column="sex"/>
        <result property="country" column="country"/>
        <result property="stateProvince" column="state_province"/>
        <result property="city" column="city"/>
        <result property="birthday" column="birthday"/>
        <result property="about" column="about"/>
        <result property="avatarUrl" column="avatar_url"/>
    </resultMap>

    <select id="findById" parameterType="long" resultMap="profileResultMap">
        select
          gamer_id,
          sex,
          country,
          state_province,
          city,
          birthday,
          about,
          avatar_url
        from a_profile
        where gamer_id = #{value}
    </select>


    <insert id="insertProfile" parameterType="Profile">
        insert into a_profile (
          gamer_id,
          sex,
          country,
          state_province,
          city,
          birthday,
          about,
          avatar_url,
          detected_country,
          detected_state_province,
          detected_city
        )
        values (
          #{gamerId},
          #{sex},
          #{country},
          #{stateProvince},
          #{city},
          #{birthday},
          #{about},
          #{avatarUrl},
          #{detectedCountry},
          #{detectedStateProvince},
          #{detectedCity}
        )
    </insert>

    <update id="updateProfile" parameterType="Profile">
        update a_profile
        set
          sex =                     #{sex},
          country =                 #{country},
          state_province =          #{stateProvince},
          city =                    #{city},
          birthday =                #{birthday},
          about =                   #{about},
          avatar_url =              #{avatarUrl},
          detected_country =        #{detectedCountry},
          detected_state_province = #{detectedStateProvince},
          detected_city =           #{detectedCity}
         where gamer_id = #{gamerId}
    </update>
</mapper>
