<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shareholdergame.engine.account.dao.mapper.UserSessionLogMapper">

    <insert id="insertLogRecord" parameterType="UserSessionLogRecord">
        insert into a_user_session_log (
            gamer_id,
            ip_address,
            start_time
        )
        values (
            #{gamerId},
            #{ipAddress},
            #{startTime}
        )
    </insert>
</mapper>